<div class="main">
  <input id="fileupload" type="file" name="fileupload" />
  <br/>
  <button id="upload-button" onclick="uploadFile()">Upload</button>
</div>
<script>
  async function uploadFile() {
    let formData = new FormData();
    formData.append("fileupload", fileupload.files[0]);
    await fetch("/", {
      method: "POST",
      body: formData,
    }).then((response) => {
        console.log(response);
    });
  }
</script>