<div class="main" id="main">
  <input id="fileupload" type="file" name="fileupload" />
  <br />
  <button id="upload-button" onclick="uploadFile()">Upload</button>
</div>

<div class="wait" id="wait">

</div>

<div class="complete" id="complete">
  <h1>Upload successful</h1>
  <br/>
  <p id="url"></p>
</div>
<script>
  async function uploadFile() {
    let formData = new FormData();
    formData.append("fileupload", fileupload.files[0]);
    await fetch("/", {
      method: "POST",
      body: formData,
    })
      .then(document.querySelector("#wait"))
      .then((response) => response.text())
      .then((data) => {
        document.querySelector("#main").style.display = "none";
        document.querySelector("#complete").style.display = "block";
        document.querySelector("#url").textContent = "https://warez.lolcat.se/" + data
      });
  }
</script>
