body {
  background-color: green;
}

.wait {
  display: none;
}

.complete {
  display: none;
}

/* iPhone Portrait */
@media screen and (min-width: 390px) {
  .main {
    display: grid;
    width: 375px;
    grid-template-rows: 60px 100px 200px;
  }
}
